<!doctype html>
<html lang="nl" ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">
        <title>Het weer in {{city}}</title>
        <link rel="stylesheet" href="app/components/foundation/css/normalize.css">
        <link rel="stylesheet" href="app/components/foundation/css/foundation.min.css">
        <link rel="stylesheet" href="app/components/foundation-icons/foundation-icons.css">
        <link rel="stylesheet" href="app/components/fontello/css/fontello.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body ng-controller="WeatherDataCtrl">
        <div class="sticky">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a>Het weer in {{forecast[0].city.name}}</a></h1>
                    </li>
                </ul>
                <!--
                <section class="top-bar-section">
                    <ul class="right">
                        <li><a href="#">Vandaag</a></li>
                    </ul>
                    <ul class="left">
                        <li><a href="#">Gisteren</a></li>
                    </ul>
                </section>
                -->
            </nav>
        </div>
        <div class="row">
            <div class="large-4 small-centered columns">
                <div class="panel callout radius text-center">
                    <p style="font-size: 6em"><i class="icon-{{forecast[0].icon}}"></i></p>
                    <p>{{forecast.list[0].description}}</p>
                    <p><i class="icon-temperatire"></i> {{forecast[0].temp_max|number:1}} ˚C</p>
                    <p>{{week[0]}}</p>
                    <p><i class="fi-battery-half"></i>
                        <div class="progress radius success" id="battery">
                            <span class="meter"></span>
                        </div></p>
                    <div id="deviceready" class="blink">
                        <p class="event listening warning">Connecting to Device</p>
                        <p class="event received success">Device is Ready</p>
                    </div>
                </div>
            </div>
            <table class="large-4 small-centered columns">
                <thead>
                    <tr>
                        <th scope="col" class="text-right">Dag</th>
                        <th scope="col">Weer</th>
                        <th scope="col" class="max">Maximum</th>
                        <th scope="col" class="min">Minimum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="day in forecast" ng-show="!$first" ng-switch="day.icon">
                        <th scope="row" class="text-right">{{week[$index]}}</th>
                        <td class="text-center"><i class="icon-cloud" ng-switch-when="cloud"></i>
                            <i class="icon-cloud-flash" ng-switch-when="cloud-flash"></i>
                            <i class="icon-cloud-sun" ng-switch-when="cloud-sun"></i>
                            <i class="icon-drizzle" ng-switch-when="drizzle"></i>
                            <i class="icon-rain" ng-switch-when="rain"></i>
                            <i class="icon-snow" ng-switch-when="snow"></i>
                            <i class="icon-sun" ng-switch-when="sun"></i></td>
                        <td class="max"><i class="icon-temperatire"></i> {{day.temp_max|number:0}} ˚C</td>
                        <td class="min"><i class="icon-temperatire"></i> {{day.temp_min|number:0}} ˚C</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="app/components/jquery/jquery.min.js"></script><!-- jQuery is sneller in benchmarks than Zepto -->
        <script src="cordova.js"></script>
        <script src="js/index.js"></script>
        <script src="app/components/angular/angular.min.js"></script>
        <script src="app/components/foundation/js/foundation.min.js"></script>
        <script src="app/scripts/controller/WeatherDataCtrl.js"></script>
        <script>
            // Initialiseer de Apache Cordova app
            app.initialize();

            // Initialiseer Foundation
            $(document).foundation();
        </script>
    </body>
</html>
