@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?57161400');
  src: url('../font/fontello.eot?57161400#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?57161400') format('woff'),
       url('../font/fontello.ttf?57161400') format('truetype'),
       url('../font/fontello.svg?57161400#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57161400#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-sun:before { content: '\e800'; } /* '' */
.icon-sun-filled:before { content: '\e801'; } /* '' */
.icon-temperatire:before { content: '\e80b'; } /* '' */
.icon-cloud:before { content: '\e802'; } /* '' */
.icon-rain:before { content: '\e804'; } /* '' */
.icon-moon:before { content: '\e803'; } /* '' */
.icon-cloud-sun:before { content: '\e805'; } /* '' */
.icon-drizzle:before { content: '\e806'; } /* '' */
.icon-snow:before { content: '\e807'; } /* '' */
.icon-cloud-flash:before { content: '\e808'; } /* '' */
.icon-cloud-wind:before { content: '\e809'; } /* '' */
.icon-wind:before { content: '\e80a'; } /* '' */