
.icon-sun:before { content: '\e800'; } /* '' */
.icon-sun-filled:before { content: '\e801'; } /* '' */
.icon-temperatire:before { content: '\e80b'; } /* '' */
.icon-cloud:before { content: '\e802'; } /* '' */
.icon-rain:before { content: '\e804'; } /* '' */
.icon-moon:before { content: '\e803'; } /* '' */
.icon-cloud-sun:before { content: '\e805'; } /* '' */
.icon-drizzle:before { content: '\e806'; } /* '' */
.icon-snow:before { content: '\e807'; } /* '' */
.icon-cloud-flash:before { content: '\e808'; } /* '' */
.icon-cloud-wind:before { content: '\e809'; } /* '' */
.icon-wind:before { content: '\e80a'; } /* '' */